<header>
  <h1 style="float:up">Andres Mendoza</h1>
  <div>
    <li>
      <a [routerLink]="['/acerca-de-mi']" [routerLinkActive]="'actived'"
        >Acerca de mi</a
      >
    </li>
    <li>
      <a [routerLink]="['/contacto']" [routerLinkActive]="'actived'"
        >Contacto</a
      >
    </li>
    <li>
      <a [routerLink]="['/curriculum']" [routerLinkActive]="'actived'"
        >Curriculum</a
      >
    </li>
    <li>
      <a [routerLink]="['/mis-proyectos']" [routerLinkActive]="'actived'"
        >Proyectos</a
      >
    </li>
  </div>
</header>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer class="foot">
  Desarrollado en StackBlizt
  <div></div>
</footer>
